
.chat {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(100,100,100,.8);
    padding-bottom: 20px;
}

.chatIcon  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    background-color: rgb(114, 137, 218);
}

.icon-container {
    display: flex;
    height: 100%;
}

.author {
    font-weight: bold;
    display: flex;
    justify-content: left;
    padding-bottom: 5px;
}

.chat > div {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-left: 10px;
}

.author > p {
    display: flex;
    align-items: flex-end;
    color: rgba(100,100,100,.8);
    font-size: 12px;
    padding: 0;
    margin: 0 10px;
}

a > img {
    padding-top: 10px;
    height: 25%;
    width: 25%;
}

.entered-channel > svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.chat > div > div > a {
    color: gold;
}

.beginning {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url('../assets/discord-right.png'), url('../assets/discord-left.png');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    height: 75px;
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(100,100,100,.8);
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
