.fakeChat {
    background-color: rgb(54,57,63);
    height: 75px;
    width: 100%;
    bottom: 0;
    left: 250px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fakeChat > input {
    width: 95%;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(64, 68, 75);
    font-size: 15px;
    color: lightgray;
    border: none;
    padding: 0px 10px;
}

.fakeChat > input:focus {
    outline:none;
}

.previewImage {
    padding-top: 5px;
    width: 300px;
    border-radius: 20px;
}